@font-face {
  font-family: 'Avenir';
  src: url("../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf") format("OpenType");
}

@font-face {
  font-family: 'Avenir';
  src: url("../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir';
  src: url("../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Medium.otf") format("OpenType");
  font-weight: 500;
}

@font-face {
  font-family: 'Avenir';
  src: url("../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 600;
}

@-webkit-keyframes forfun {
  0% {
    color: #fa8888;
  }
  20% {
    color: #fcd07e;
  }
  40% {
    color: #fafa78;
  }
  60% {
    color: #9cfa9c;
  }
  80% {
    color: #7da9fc;
  }
  100% {
    color: #fc96e6;
  }
}

@keyframes forfun {
  0% {
    color: #fa8888;
  }
  20% {
    color: #fcd07e;
  }
  40% {
    color: #fafa78;
  }
  60% {
    color: #9cfa9c;
  }
  80% {
    color: #7da9fc;
  }
  100% {
    color: #fc96e6;
  }
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 320px) {
  h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 320px) {
  h3 {
    font-size: 0.91rem;
  }
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.43rem;
  }
}

@media screen and (min-width: 1200px) {
  h3 {
    font-size: 1.43rem;
  }
}

@media screen and (min-width: 320px) {
  h4 {
    font-size: 0.78rem;
  }
}

@media screen and (min-width: 768px) {
  h4 {
    font-size: 0.86rem;
  }
}

@media screen and (min-width: 1200px) {
  h4 {
    font-size: 0.86rem;
  }
}

@media screen and (min-width: 320px) {
  p {
    font-size: 0.74rem;
  }
}

@media screen and (min-width: 768px) {
  p {
    font-size: 0.86rem;
  }
}

@media screen and (min-width: 1200px) {
  p {
    font-size: 0.86rem;
  }
}

::-webkit-input-placeholder {
  color: #323232;
}

:-ms-input-placeholder {
  color: #323232;
}

::-ms-input-placeholder {
  color: #323232;
}

::placeholder {
  color: #323232;
}

/*Hero*/
.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/assets/images/Hero-photo.jpg"), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)));
  background-image: url("/assets/images/Hero-photo.jpg"), linear-gradient(rgba(0, 0, 0, 0.2));
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35vh;
  min-height: 190px;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 90vh;
    max-height: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 105vh;
    max-height: 900px;
  }
}

.hero__title {
  color: white;
  line-height: 130%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 6%;
}

@media screen and (min-width: 768px) {
  .hero__title {
    padding-left: 3%;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    padding: 0 0 4% 10%;
  }
}

/*About the Musicians Section*/
.main-section__title {
  padding: 2% 7% 0 6%;
}

@media screen and (min-width: 768px) {
  .main-section__title {
    padding: 2.5% 3% 0 3%;
  }
}

@media screen and (min-width: 1200px) {
  .main-section__title {
    padding: 1% 10%;
  }
}

.main-section__image {
  display: block;
  margin: 0 auto;
  width: 88%;
}

@media screen and (min-width: 768px) {
  .main-section__image {
    width: 94%;
  }
}

@media screen and (min-width: 1200px) {
  .main-section__image {
    width: 71%;
  }
}

@media screen and (min-width: 320px) {
  .main-section__container1 {
    padding: 1% 0% 0 6%;
    width: 83%;
  }
}

@media screen and (min-width: 768px) {
  .main-section__container1 {
    padding: 1% 0% 0 3%;
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .main-section__container1 {
    padding: 1% 15% 0 14.5%;
    width: 70%;
  }
}

.main-section__quote1 {
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

@media screen and (min-width: 768px) {
  .main-section__quote1 {
    line-height: 35px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1200px) {
  .main-section__quote1 {
    line-height: 32px;
  }
}

.main-section__quote2 {
  font-weight: 600;
  font-size: 0.78rem;
  padding: 4% 0 8% 0;
}

@media screen and (min-width: 768px) {
  .main-section__quote2 {
    font-size: 1rem;
    padding: 0.5% 0 2% 0;
  }
}

@media screen and (min-width: 1200px) {
  .main-section__quote2 {
    font-size: 0.86rem;
    padding: 1% 0 1.2% 0;
  }
}

.main-section__content-title {
  margin: 4% 0 1% 0;
}

@media screen and (min-width: 320px) {
  .main-section__content-title {
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .main-section__content-title {
    font-weight: bold;
    margin: 4% 0 3% 0;
  }
}

.main-section__container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 7%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .main-section__container2 {
    padding-bottom: 3%;
  }
}

@media screen and (min-width: 1200px) {
  .main-section__container2 {
    padding-bottom: 3%;
  }
}

.main-section__content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 20px;
  padding: 0 6%;
}

@media screen and (min-width: 768px) {
  .main-section__content {
    font-size: 0.86rem;
    padding: 2% 3%;
    margin: 0;
    line-height: 23px;
    width: 44%;
  }
}

@media screen and (min-width: 1200px) {
  .main-section__content {
    font-size: 0.86rem;
    width: 34%;
    padding: 0 1.5%;
    line-height: 22px;
  }
}

/*Photo Gallery Section*/
.sub-section {
  background-color: #FAFAFA;
}

.sub-section__title {
  padding: 9% 0 0 6%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .sub-section__title {
    padding: 6% 0 4.5% 3%;
  }
}

@media screen and (min-width: 1200px) {
  .sub-section__title {
    padding: 4% 0 1% 10%;
  }
}

.sub-section__photo-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2% 4% 0 4%;
  padding: 0 0 8% 0;
}

@media screen and (min-width: 768px) {
  .sub-section__photo-gallery {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .sub-section__photo-gallery {
    padding: 0 0 2.5% 0;
  }
}

.sub-section__photo {
  width: 95%;
  margin: 2.75%;
}

@media screen and (min-width: 768px) {
  .sub-section__photo {
    width: 29.2%;
    margin: 1.5%;
  }
}

@media screen and (min-width: 1200px) {
  .sub-section__photo {
    width: 25.2%;
    margin: 1%;
  }
}

.sub-section__photo:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
}

/*Comments Form*/
input {
  font-family: 'Avenir';
  font-size: 0.91rem;
}

@media screen and (min-width: 768px) {
  input {
    font-size: 0.86rem;
  }
}

@media screen and (min-width: 1200px) {
  input {
    font-size: 0.86rem;
  }
}

.comments-section {
  padding-bottom: 11%;
}

@media screen and (min-width: 768px) {
  .comments-section {
    padding-bottom: 5%;
  }
}

@media screen and (min-width: 1200px) {
  .comments-section {
    padding-bottom: 3%;
  }
}

.comments-section__photo {
  background-image: url("/assets/images/Mohan-muruge.jpg");
  background-size: cover;
  background-position: 15% 50%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 6%;
}

@media screen and (min-width: 768px) {
  .comments-section__photo {
    margin: 2.5%;
  }
}

@media screen and (min-width: 1200px) {
  .comments-section__photo {
    margin: 1.9%;
  }
}

.comments-section__title {
  padding: 3% 0 3% 5%;
}

@media screen and (min-width: 768px) {
  .comments-section__title {
    padding: 2% 0 0 3%;
  }
}

@media screen and (min-width: 1200px) {
  .comments-section__title {
    padding: 1% 0 0.5% 10%;
  }
}

.comments-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .comments-section__container {
    margin-right: 5%;
  }
}

@media screen and (min-width: 768px) {
  .comments-section__container {
    margin-right: 10%;
  }
}

@media screen and (min-width: 1200px) {
  .comments-section__container {
    margin-left: 13%;
  }
}

.comments-section__form {
  width: 70%;
}

.comments-section__form-input {
  background-color: #FAFAFA;
  border: 1.5px solid #E1E1E1;
  outline: none;
  border-radius: 5px;
  margin-bottom: 8%;
}

@media screen and (min-width: 768px) {
  .comments-section__form-input {
    margin-bottom: 4%;
  }
}

@media screen and (min-width: 1200px) {
  .comments-section__form-input {
    margin: 0 10% 3% 0;
  }
}

.comments-section__form-input-name {
  border: 2px solid #323232;
  width: 87%;
  padding: 6%;
}

@media screen and (min-width: 768px) {
  .comments-section__form-input-name {
    width: 82%;
    padding: 3%;
  }
}

@media screen and (min-width: 1200px) {
  .comments-section__form-input-name {
    width: 62%;
    padding: 2%;
  }
}

.comments-section__form-input-comment {
  resize: none;
  font-family: 'Avenir';
  width: 87%;
  height: 13vh;
  padding: 6%;
}

@media screen and (min-width: 768px) {
  .comments-section__form-input-comment {
    width: 82%;
    height: 11vh;
    padding: 3%;
  }
}

@media screen and (min-width: 1200px) {
  .comments-section__form-input-comment {
    width: 62%;
    height: 9vh;
    padding: 2%;
  }
}

.comments-section__form-title {
  color: #AFAFAF;
  margin: 1% 0;
  font-size: 0.74rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .comments-section__form-title {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .comments-section__form-title {
    font-size: 0.75rem;
  }
}

.comments-section__button-comment {
  font-weight: 600;
  letter-spacing: 0.8px;
  float: right;
  color: white;
  font-size: 0.91rem;
  width: 100%;
  margin: 0 0 15% 0;
  padding: 8%;
}

@media screen and (min-width: 768px) {
  .comments-section__button-comment {
    font-size: 0.86rem;
    width: 37%;
    margin: 0 12% 5% 1%;
    padding: 4%;
  }
}

@media screen and (min-width: 1200px) {
  .comments-section__button-comment {
    font-size: 0.86rem;
    width: 21%;
    margin: 0 33.5% 3% 1%;
    padding: 2.2%;
  }
}

.divider {
  border-bottom: 2px solid #E1E1E1;
}

/*Comments Guestbook*/
.comments-section__guestbook {
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .comments-section__guestbook {
    font-size: 0.91rem;
  }
}

@media screen and (min-width: 768px) {
  .comments-section__guestbook {
    width: 71%;
    margin-left: 15%;
  }
}

@media screen and (min-width: 1200px) {
  .comments-section__guestbook {
    width: 47.7%;
    margin-left: 26.5%;
  }
}

.comments-section__guestbook-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2% 5% 2% 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .comments-section__guestbook-entry {
    margin: 2% 4% 0 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .comments-section__guestbook-entry {
    margin: 2% 5% 0 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.comments-section__guestbook-photo {
  background-color: #E1E1E1;
  height: 40px;
  border-radius: 50%;
  min-width: 40px;
  margin: 5% 3.3%;
}

@media screen and (min-width: 768px) {
  .comments-section__guestbook-photo {
    margin: 1.5% 2% 0 4%;
  }
}

@media screen and (min-width: 1200px) {
  .comments-section__guestbook-photo {
    margin: 1.5% 2% 0 5%;
  }
}

.comments-section__guestbook-divider {
  width: 92%;
  margin: 0 auto;
}

.comments-section__guestbook-container {
  margin: 2% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-section__guestbook-name {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  margin: 6% 0 0 0;
  font-size: 0.91rem;
}

@media screen and (min-width: 768px) {
  .comments-section__guestbook-name {
    font-size: 1rem;
    margin: 0 2% 0 0;
  }
}

@media screen and (min-width: 1200px) {
  .comments-section__guestbook-name {
    font-size: 1rem;
    margin: 0.5% 2% 0 0;
  }
}

.comments-section__guestbook-date {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 6% 0 0 0;
  color: #AFAFAF;
}

@media screen and (min-width: 768px) {
  .comments-section__guestbook-date {
    margin: 0;
    font-size: 0.86rem;
    padding-top: 0.5%;
  }
}

@media screen and (min-width: 1200px) {
  .comments-section__guestbook-date {
    margin: 0.5% 2% 0 0;
    font-size: 0.86rem;
    padding-top: 0.5%;
  }
}

.comments-section__guestbook-text {
  margin: 4% 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 99.5%;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .comments-section__guestbook-text {
    font-size: 0.86rem;
    margin: 2% 0;
  }
}

@media screen and (min-width: 1200px) {
  .comments-section__guestbook-text {
    font-size: 0.86rem;
    margin: 2% 0;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */