@import 'partials/fonts';
@import 'partials/mixins';
@include font-sizes;

::placeholder {
    color: $primary-background-color;
}
  
/*Hero*/

.hero {
    align-items: center;
    background-image: url('/assets/images/Hero-photo.jpg'), linear-gradient(rgba(0,0,0,0.2));
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    display: flex;
    height: 35vh;
    min-height: 190px;

    @include tablet {
        height: 90vh;
        max-height: 600px;
    }
    @include desktop {
        height: 105vh;
        max-height: 900px;
    }
    
    &__title {
        color: white;
        line-height: 130%;
        align-items: center;
        padding-left: 6%;

        @include tablet {
            padding-left: 3%;
        }
        @include desktop {
            padding: 0 0 4% 10%;
        }
    }
}

/*About the Musicians Section*/

.main-section {

    &__title {
        padding: 2% 7% 0 6%;

        @include tablet {
            padding: 2.5% 3% 0 3%;
        }
        @include desktop {
            padding: 1% 10%;
        }
    }
    &__image {
        display: block;
        margin: 0 auto;
        width: 88%;

        @include tablet {
            width: 94%;
        }
        @include desktop {
            width: 71%;
        }
    }
    &__container1 {

        @include mobile {
            padding: 1% 0% 0 6%;
            width: 83%;
        }
        @include tablet {
            padding: 1% 0% 0 3%;
            width: 90%;
        }
        @include desktop {
            padding: 1% 15% 0 14.5%;
            width: 70%;
        }
    }
    &__quote1 {
        line-height: 22px;
        font-weight: 600;
        letter-spacing: 0.4px;

        @include tablet {
            line-height: 35px;
            font-weight: bold;
        }

        @include desktop {
            line-height: 32px;
        }
    }
    &__quote2 {
        font-weight: 600;
        font-size: $h4-mobile-fontsize;
        padding: 4% 0 8% 0;

        @include tablet {
            font-size: $namelabel-desktab-fontsize;
            padding: 0.5% 0 2% 0;
        }
        @include desktop {
            font-size: $h4-desktab-fontsize;
            padding: 1% 0 1.2% 0;
        }
    }
    &__content-title {
        margin: 4% 0 1% 0;

        @include mobile {
            font-weight: 600;
        }
        @include tablet {
            font-weight: bold;
            margin: 4% 0 3% 0;
        }
    }
    &__container2 {
        display: flex;
        justify-content: center;
        padding-bottom: 7%;
        flex-wrap: wrap;
        
        @include tablet {
            padding-bottom: 3%;
        }
        @include desktop {
            padding-bottom: 3%;
        }
    }
    &__content {
        display: inline-flex;
        line-height: 20px;
        padding: 0 6%;
        
        @include tablet {
            font-size: $h4-desktab-fontsize;
            padding: 2% 3%;
            margin: 0;
            line-height: 23px;  
            width: 44%;
     
        }
        @include desktop {
            font-size: $h4-desktab-fontsize;
            width: 34%;
            padding: 0 1.5%;
            line-height: 22px;
        }
    }
}

/*Photo Gallery Section*/

.sub-section {
    background-color: $secondary-background-color;

    &__title {
        padding: 9% 0 0 6%;
        margin: 0;

        @include tablet {
            padding: 6% 0 4.5% 3%;
        }
        @include desktop {
            padding: 4% 0 1% 10%;
        }
    }
    &__photo-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2% 4% 0 4%;
        padding: 0 0 8% 0;

        @include tablet {
            margin: 0;
        }
        @include desktop {
            padding: 0 0 2.5% 0;
        }
    }
    &__photo {
        width: 95%;
        margin: 2.75%;

        @include tablet {
            width: 29.2%;
            margin: 1.5%;
        }
        @include desktop {
            width: 25.2%;
            margin: 1%;
        }

        &:hover {
            filter: brightness(115%);
        }
    }
}

/*Comments Form*/

input {
    font-family:'Avenir';
    font-size: $h3-mobile-fontsize;

    @include tablet {
        font-size: $h4-desktab-fontsize;
    }
    @include desktop {
        font-size: $h4-desktab-fontsize;
    }
}
.comments-section {
    padding-bottom: 11%;

    @include tablet {
        padding-bottom: 5%;
    }
    @include desktop {
        padding-bottom: 3%;
    }

    &__photo {
        background-image: url('/assets/images/Mohan-muruge.jpg');
        background-size: cover;
        background-position: 15% 50%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: 6%;

        @include tablet {
            margin: 2.5%;
        }
        @include desktop {
            margin: 1.9%;
        }
    }

    &__title {
        padding: 3% 0 3% 5%;
        
        @include tablet {
            padding: 2% 0 0 3%;
        }
        @include desktop {
            padding: 1% 0 0.5% 10%;
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 0 auto;
        
        @include mobile {
            margin-right: 5%;
        }
        @include tablet {
            margin-right: 10%;
        }
        @include desktop {
            margin-left: 13%;
        }
    }
    &__form {
        width: 70%;
        
        &-input {
            background-color: $comments-box-color;
            border: 1.5px solid #E1E1E1;
            outline: none;
            border-radius: 5px;
            margin-bottom: 8%;
            
            @include tablet {
                margin-bottom: 4%;
            }
            @include desktop {
                margin: 0 10% 3% 0;

            }

            &-name {
                border: 2px solid $primary-background-color;
                width: 87%;
                padding: 6%;
                
                @include tablet {
                    width: 82%;
                    padding: 3%;
                }
                @include desktop {
                    width: 62%;
                    padding: 2%;
                }
            }
            &-comment {
                resize: none;
                font-family: 'Avenir';
                width: 87%;
                height: 13vh;
                padding: 6%;

                @include tablet {
                    width: 82%;
                    height: 11vh;
                    padding: 3%;
                }
                @include desktop {
                    width: 62%;
                    height: 9vh;
                    padding: 2%;
                }
            }
        }
        
        &-title {
            color: $comments-title-color;
            margin: 1% 0;
            font-size: $p-mobile-fontsize;
            font-weight: 500;
            
            @include tablet {
                font-size: $p-desktab-fontsize;
            }
            @include desktop {
                font-size: $p-desktab-fontsize;
            }
        }
    }
    &__button-comment {
        font-weight: 600;
        letter-spacing: 0.8px;
        float: right;
        color: white;
        font-size: $h3-mobile-fontsize;
        width: 100%;
        margin: 0 0 15% 0;
        padding: 8%;
               
        @include tablet {
            font-size: $h4-desktab-fontsize;
            width: 37%;
            margin: 0 12% 5% 1%;
            padding: 4%;
        }
        @include desktop {
            font-size: $h4-desktab-fontsize;
            width: 21%;
            margin: 0 33.5% 3% 1%;
            padding: 2.2%;
        }
    }
}

.divider {
    border-bottom: 2px solid $circle-divider-color;
}

/*Comments Guestbook*/

.comments-section__guestbook {
    margin: 0 auto;
    
    @include mobile {
        font-size: $h3-mobile-fontsize;
    }
    @include tablet {
        width: 71%;
        margin-left: 15%;
    }
    @include desktop {
        width: 47.7%;
        margin-left: 26.5%;
    }
    
    &-entry {
        display: flex;
        flex-wrap: wrap;
        margin: 2% 5% 2% 0;
        justify-content: space-between;

        @include tablet {
            margin: 2% 4% 0 0;
            justify-content: flex-start;
        }
        @include desktop {
            margin: 2% 5% 0 0;
            justify-content: flex-start;
        }
    }
    &-photo {
        background-color: $circle-divider-color;
        height: 40px;
        border-radius: 50%;
        min-width: 40px;
        margin: 5% 3.3%;
        
        @include tablet {
            margin: 1.5% 2% 0 4%;
        }
        @include desktop {
            margin: 1.5% 2% 0 5%;   
        }
    }
    &-divider {
        width: 92%;
        margin: 0 auto;
    }
    &-container {
        margin: 2% auto;
        display: flex;
    }
    &-name {
        display: inline-flex;
        font-weight: 500;
        margin: 6% 0 0 0;
        font-size: $h3-mobile-fontsize;

        @include tablet {
            font-size: $namelabel-desktab-fontsize;
            margin: 0 2% 0 0;
        }
        @include desktop {
            font-size: $namelabel-desktab-fontsize;
            margin: 0.5% 2% 0 0;
        }
    }
    &-date {
        display: inline-flex;
        margin: 6% 0 0 0;
        color: $date-color;

        @include tablet {
            margin: 0;
            font-size: $h4-desktab-fontsize;
            padding-top: 0.5%;
        }
        @include desktop {
            margin: 0.5% 2% 0 0;
            font-size: $h4-desktab-fontsize;
            padding-top: 0.5%;
        }
    }
    &-text {
        margin: 4% 0;
        display: inline-flex;
        width: 99.5%;
        line-height: 20px;

        @include tablet {
            font-size: $h4-desktab-fontsize;
            margin: 2% 0;
        }
        @include desktop {
            font-size: $h4-desktab-fontsize;
            margin: 2% 0;
            width: 100%;
        }
    }
}
