@import 'partials/fonts';
@import 'partials/mixins';
@include font-sizes;

/*Hero*/

.hero {
    align-items: center;
    background-image: url('/assets/images/Hero-shows-photo.jpg'), linear-gradient(rgba(0,0,0,0.2));
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    position: relative;
    height: 70vh;
    min-height: 470px;
    

    @include tablet {
        height: 113vh;
        max-height: 800px;
    }
    @include desktop {
        height: 105vh;
        max-height: 900px;
    }

    &__album {
        color: white;
        margin: 0;
        font-weight: 600;

        @include mobile {
            padding: 20% 0 1% 6%;
        }
        @include tablet {
            padding: 13% 0 3% 3%;
        }
        @include desktop {
            padding: 11% 0 3% 11%;
        }
    }
    &__container {
        position: relative;

        @include desktop {
            display: flex;
            align-items: flex-end;
        }
    }
    
    &__title {
        color: white;
        line-height: 135%;
        align-items: center;
        margin: 0;
    
        @include mobile {
            width: 78%;
            font-size: $hero-mobile-fontsize;
            padding: 5% 0 10% 6%;
            letter-spacing: 1.2px;
            line-height: 145%;
        }
        @include tablet {
            width: 75%;
            padding-left: 3%;
        }
        @include desktop {
            width: 50%;
            padding: 0 0 2.5% 11%;
            letter-spacing: 0.5px;
            font-size: $hero-desktab-fontsize;
        }
    }

    &__music-player {
        margin: 0 auto;
        position: absolute;

        @include mobile {
            width: 90%; 
            height: 19vh; 
            max-height: 120px;
            padding: 5%;
        }
        @include tablet {
            width: 55%; 
            height: 22vh; 
            max-height: 200px;
            padding: 5% 3%;
        }
        @include desktop {
            width: 27%;
            height: 20vh;
            max-height: 150px;
            padding: 0 0 4.5% 62%;
        } 
    }
}

/*Shows Section*/

.divider {
    border-bottom: 2px solid $circle-divider-color;
    margin-bottom: 3%;

    @include tablet {
        width: 100%;
        margin: 0;
    }
    @include desktop {
        width: 100%;
        margin: 0;
    }
}
.main-section {
    
    @include desktop {
        display: flex;
        margin-left: 6%;
    }

    &__title {
        @include mobile {
            padding: 5% 7% 0 6%;
        }
        @include tablet {
            padding: 2% 3% 0 3%;
            margin-bottom: 2%;
        }
        @include desktop {
            padding: 1% 5%;
        }
    }
    &__shows-container {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10%;

        @include tablet {
            padding-bottom: 5%;
        }
        @include desktop {
            padding: 2% 0 3% 0;
            width: 70%;
        }
    }
    &__shows {
        width: 100%;
        margin: 0 7%;

        @include tablet {
            display: flex;
            flex-wrap: wrap;
            margin: 0 3%;
            align-items: center;
            justify-content: space-between;
        }
        @include desktop {
            display: flex;
            flex-wrap: wrap;
            margin: 0 3%;
            align-items: center;
            justify-content: space-between;
        }
        
        &-headings {
            display: none;
            margin: 0 3%;
            width: 150px;

            @include tablet {
                display: flex;
            }
            @include desktop {
                display: flex;
                width: 20%;
            }
            &-title {
                font-weight: 600;
                color: $date-color;

                &-date {
                    @include tablet {
                        padding-right: 120%;
                    }

                    @include desktop {
                        padding-right: 116%;
                    }
                }
                &-venue {
                    @include tablet {
                        padding-right: 86%;
                    }

                    @include desktop {
                        padding-right: 83%;
                    }
                }
            }
        }
        &-title {
            color: $date-color;
            letter-spacing: 0.75px;
            margin-top: 10%;
            font-weight: 600;

            @include tablet {
                display: none;
            }
            @include desktop {
                display: none;
            }
        }
        &-date {
            font-size: $h4-mobile-fontsize;
            font-weight: 600;
            letter-spacing: 0.75px;
            padding-right: 7%;

            @include tablet {
                font-size: $h4-desktab-fontsize;
            }
        }
        &-content {
            margin: 5% 0;
            width: 150px;

            @include tablet {
                margin: 4% 0;
            }
            @include desktop {
                margin: 4% 0;
            }
        }

        &-button {
            width: 100%;
            margin: 5.5% auto;
            padding: 6% 2%;
            font-weight: bold;
            font-size: $h4-mobile-fontsize;
            letter-spacing: 0.3px;
            color: white;

            @include tablet {
                width: 21%;
                height: 59%;
                padding: 0;
                margin: 0;
            }
            @include desktop {
                width: 22%;
                height: 57%;
                padding: 0;
                margin: 0;
            }
        }
    }
}