$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

$primary-color: #323232;
$secondary-color: #FAFAFA;

$hero-desktab-fontsize: 3.75rem; /*5.75*/
$h1-desktab-fontsize: 4.5rem;
$h2-desktab-fontsize: 2.25rem; /*4*/
$h3-desktab-fontsize: 1.5rem;
$h4-desktab-fontsize: 0.85rem;
$p-desktab-fontsize: 0.75rem;

$h1-mobile-fontsize: 1.5rem;
$h2-mobile-fontsize: 1.5rem;
$h3-mobile-fontsize: 0.9rem;
$h4-mobile-fontsize: 0.8rem;
$p-mobile-fontsize: 0.75rem;
