@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf") format("OpenType");
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf") format("OpenType");
  font-weight: bold;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf") format("OpenType");
  font-weight: 600;
}
@-webkit-keyframes forfun {
  0% {
    color: #fa8888;
  }
  20% {
    color: #fcd07e;
  }
  40% {
    color: #fafa78;
  }
  60% {
    color: #9cfa9c;
  }
  80% {
    color: #7da9fc;
  }
  100% {
    color: #fc96e6;
  }
}
@keyframes forfun {
  0% {
    color: #fa8888;
  }
  20% {
    color: #fcd07e;
  }
  40% {
    color: #fafa78;
  }
  60% {
    color: #9cfa9c;
  }
  80% {
    color: #7da9fc;
  }
  100% {
    color: #fc96e6;
  }
}
body {
  font-family: "Avenir";
  margin: 0;
}

.button {
  background-color: #323232;
  border-radius: 3.5%;
  border: none;
}

/*Font Sizes*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  h1 {
    font-size: 3.75rem;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  h2 {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  h3 {
    font-size: 0.91rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  h3 {
    font-size: 1.45rem;
  }
}
@media screen and (min-width: 1200px) {
  h3 {
    font-size: 1.45rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  h4 {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  h4 {
    font-size: 0.86rem;
  }
}
@media screen and (min-width: 1200px) {
  h4 {
    font-size: 0.86rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  p {
    font-size: 0.74rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  p {
    font-size: 0.86rem;
  }
}
@media screen and (min-width: 1200px) {
  p {
    font-size: 0.86rem;
  }
}

/*Navigation Bar*/
a {
  text-decoration: none;
  text-align: center;
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  a {
    font-size: 0.74rem;
    width: 50%;
  }
}
a:hover {
  -webkit-animation: forfun 1.5s linear infinite;
          animation: forfun 1.5s linear infinite;
}

.nav-bar {
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav-bar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.nav-bar__main-logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 20px;
  vertical-align: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav-bar__main-logo {
    margin: 5% auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-bar__main-logo {
    padding-left: 3%;
  }
}
@media screen and (min-width: 1200px) {
  .nav-bar__main-logo {
    padding-left: 10%;
  }
}
.nav-bar__menu {
  margin: 0;
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-bar__menu-link {
  color: white;
  list-style-type: none;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav-bar__menu-link {
    font-size: 0.91rem;
    padding: 6% 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-bar__menu-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 0.86rem;
    margin: 35px 15px 0 55px;
    padding: 0 10% 17% 10%;
  }
}
@media screen and (min-width: 1200px) {
  .nav-bar__menu-link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 0.86rem;
    margin: 35px 0 0 70px;
    padding: 0 10% 17% 10%;
  }
}
.nav-bar__menu-link--active {
  border-bottom: 5px solid white;
}
.nav-bar__menu-link:hover {
  -webkit-animation: forfun 1.5s linear infinite;
          animation: forfun 1.5s linear infinite;
}

/*Hero*/
.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/assets/images/Hero-shows-photo.jpg"), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)));
  background-image: url("/assets/images/Hero-shows-photo.jpg"), linear-gradient(rgba(0, 0, 0, 0.2));
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    height: 460px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    height: 680px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}
.hero__album {
  color: white;
  margin: 0;
  font-weight: 600;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero__album {
    padding: 20% 0 1% 6%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__album {
    padding: 13% 0 3% 3%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__album {
    padding: 13% 0 3% 11%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.hero__title {
  color: white;
  line-height: 135%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero__title {
    width: 78%;
    font-size: 1.8rem;
    padding: 5% 0 10% 6%;
    letter-spacing: 1.2px;
    line-height: 145%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__title {
    width: 75%;
    padding-left: 3%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 50%;
    padding: 0 0 2.5% 11%;
    letter-spacing: 0.5px;
    font-size: 3.75rem;
  }
}
.hero__music-player {
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero__music-player {
    width: 90%;
    height: 110px;
    padding: 5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__music-player {
    width: 55%;
    height: 130px;
    padding: 5% 3%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__music-player {
    width: 27%;
    height: 120px;
    padding: 0 10% 4.7% 0%;
  }
}

/*Shows Section*/
.divider {
  border-bottom: 2px solid #E1E1E1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .divider {
    width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .divider {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .main-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 6%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-section__title {
    padding: 5% 7% 0 6%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section__title {
    padding: 2% 3% 0 3%;
    margin-bottom: 2%;
  }
}
@media screen and (min-width: 1200px) {
  .main-section__title {
    padding: 1% 5%;
  }
}
.main-section__shows-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section__shows-container {
    padding-bottom: 5%;
  }
}
@media screen and (min-width: 1200px) {
  .main-section__shows-container {
    padding: 2% 0 3% 0;
    width: 70%;
  }
}
.main-section__shows {
  width: 100%;
  margin: 0 7%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section__shows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 3%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .main-section__shows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 3%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.main-section__shows-headings {
  display: none;
  margin: 0 3%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section__shows-headings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .main-section__shows-headings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
  }
}
.main-section__shows-headings-title {
  font-weight: 600;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section__shows-headings-title-date {
    margin-right: 111%;
  }
}
@media screen and (min-width: 1200px) {
  .main-section__shows-headings-title-date {
    margin-right: 115%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section__shows-headings-title-venue {
    margin-right: 79%;
  }
}
@media screen and (min-width: 1200px) {
  .main-section__shows-headings-title-venue {
    margin-right: 80%;
  }
}
.main-section__shows-title {
  color: #AFAFAF;
  letter-spacing: 0.75px;
  margin-top: 10%;
  font-weight: 600;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section__shows-title {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .main-section__shows-title {
    display: none;
  }
}
.main-section__shows-date {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  padding-right: 7%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section__shows-date {
    font-size: 0.86rem;
  }
}
.main-section__shows-content {
  margin: 5% 0;
  width: 150px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section__shows-content {
    margin: 4% 0;
  }
}
@media screen and (min-width: 1200px) {
  .main-section__shows-content {
    margin: 4% 0;
  }
}
.main-section__shows-button {
  width: 100%;
  margin: 5.5% auto;
  padding: 6% 2%;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.3px;
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section__shows-button {
    width: 21%;
    height: 59%;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .main-section__shows-button {
    width: 22%;
    height: 57%;
    padding: 0;
    margin: 0;
  }
}

/*Get In Touch Footer Section*/
.footer {
  background-color: #323232;
  color: white;
  padding-bottom: 2%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__heading {
    padding: 5% 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5% 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3% 0;
  }
}
.footer__heading-title {
  margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__heading-title {
    min-width: 100px;
    padding: 8% 2% 5% 4%;
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__heading-title {
    min-width: 250px;
    padding: 1% 2% 0 3%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__heading-title {
    min-width: 250px;
    padding: 1% 2% 0 10%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__heading-logo-container {
    width: 50%;
    padding-left: 4%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__heading-logo-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__heading-logo-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__heading-logo {
    padding: 4% 8% 4% 0;
    width: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__heading-logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 8% 0 0;
    width: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__heading-logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 8% 0 0;
    width: 25px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__heading-logo2 {
    width: 11px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__heading-logo2 {
    width: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__heading-logo2 {
    width: 14px;
  }
}
.footer__main-logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 20px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__main-logo {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__main-logo {
    padding: 2% 3%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__main-logo {
    padding: 1.5% 10% 2% 2%;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 4%;
    width: 92%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    padding: 0 0 0 3%;
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    padding: 0 10%;
    width: 60%;
  }
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 20px;
  margin: 1%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__content {
    margin: 7% 0;
    line-height: 17px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__content {
    font-size: 0.86rem;
    padding-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__content {
    font-size: 0.86rem;
    padding-top: 10px;
  }
}
.footer__content1 {
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
  line-height: 20px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__content1 {
    font-size: 0.74rem;
    line-height: 17px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__copyright {
    margin: 3% 0 0 4%;
    width: 60%;
    line-height: 18px;
    padding-bottom: 9%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__copyright {
    padding: 1.5% 0 1% 3%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright {
    padding: 1.5% 0 0 10%;
  }
}
/*# sourceMappingURL=shows.css.map */dth: 1200px) {
  .footer__copyright {
    padding: 1.5% 0 0 10%;
  }
}
/*# sourceMappingURL=shows.css.map */