@import 'partials/fonts';
@import 'partials/mixins';

body {
    font-family: 'Avenir';
    margin: 0;
}
p {
    font-size: $p-mobile-fontsize;

    @include tablet {
        font-size: 1rem;
    }
    @include desktop {
        font-size: 1rem;
    }
}
a {
    text-align: center;

    @include mobile {
        width: 50%;
    }
}
.nav-bar {
    background-color: $primary-color;
    display: flex;
    align-items: center;

    @include mobile {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__main-logo {
        display: inline-flex;
        height: 20px;
        vertical-align: center;

        @include mobile {
            margin: 5% auto;
        }

        @include tablet {
            padding-left: 3%;
        }

        @include desktop {
            padding-left: 10%;
        }
    }
    &__menu {
        margin: 0;
        width: 100%;
        padding: 0;
        display: flex;

        &-link {
            color: white;
            list-style-type: none;

            @include mobile {
                font-size: $h3-mobile-fontsize;
                padding: 6% 0;
            }
            @include tablet {
                display: inline-flex;
                margin: 35px 15px 0 55px;
                padding: 0 6% 17% 6%;
                font-size: $h4-desktab-fontsize;
                vertical-align: center; 
            }

            @include desktop {
                display: inline-flex;
                align-items: flex-end;
                margin: 35px 0 0 70px;
                padding: 0 6% 17% 6%;
                font-size: $h4-desktab-fontsize;
                vertical-align: center;
            }

            &--active {
                border-bottom: 5px solid white;
            }
        }
    }
}
a {
    text-decoration: none;
}
.hero {
    align-items: center;
    background-image: url('/assets/images/Hero-photo.jpg'), linear-gradient(rgba(0,0,0,0.2));;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    display: flex;

    @include mobile {
        height: 30vh;
    }
    @include tablet {
        height: 80vh;
    }
    @include desktop {
        height: 110vh;
    }
}
.hero__title {
    color: white;
    margin: 0;
    line-height: 135%;
    align-items: center;

    @include mobile {
        font-size: $h1-mobile-fontsize;
        padding-left: 7%;
    }
    @include tablet {
        padding-left: 3%;
    }
    @include desktop {
        padding-left: 10%;
    }
}
.main-section {
    display: block;

    &__title {
        @include mobile {
            padding: 2% 7% 0 7%;
        }
        @include tablet {
            padding: 1% 3%;
        }
        @include desktop {
            padding: 1% 10%;
        }
    }
    &__image {
        display: block;
        margin: 0 auto;

        @include mobile {
            width: 85%;
        }
        @include tablet {
            width: 94%;
        }
        @include desktop {
            width: 71%;
        }
    }
    &__container1 {

        @include mobile {
            padding: 1% 0% 0 7%;
            width: 80%;
        }
        @include tablet {
            padding: 1% 0% 0 3%;
            width: 90%;
        }
        @include desktop {
            padding: 1% 15% 0 14.5%;
        }
    }
    &__quote1 {

        @include mobile {
            line-height: 20px;
            font-weight: 600;
        }

        @include desktop {
            line-height: 30px;
        }
    }
    &__quote2 {
        font-weight: 600;

        @include mobile {
            font-size: $h4-mobile-fontsize;
            padding: 8% 0;
        }
        @include desktop {
            font-size: 1.1rem;
            padding: 2% 0;
        }
    }
    &__content-title {
        margin: 4% 0 1% 0;

        @include mobile {
            font-weight: 600;
        }
    }
    &__container2 {
        display: flex;
        justify-content: center;

        @include mobile {
            flex-wrap: wrap;
        }
    }
    &__content {
        display: inline-flex;
        line-height: 20px;

        @include mobile {
            padding: 0 7%;
        }
        @include tablet {
            flex-wrap: wrap;
            width: 460px;
            padding: 0 3%;
            font-size: $h4-desktab-fontsize;
            line-height: 22px;           
        }
        @include desktop {
            flex-wrap: wrap;
            width: 34%;
            padding: 0 1.5%;
            font-size: $h4-desktab-fontsize;
        }
    }
}
.sub-section {
    background-color: $secondary-color;
    width: 100%;

    &__title {

        @include mobile {
            padding: 10% 0 0 7%;
        }
        @include tablet {
            padding: 5% 0 0 3%;
        }
        @include desktop {
            padding: 5% 0 0 10%;
        }
    }
    &__photo-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2% 4% 0 4%;
        padding: 0 0 2.5% 0;

        @include mobile {
            padding: 0 0 8% 0;
        }
        @include tablet {
            margin: 0;
        }
        @include tablet {
            margin: 0;
        }
    }
    &__photo {

        @include mobile {
            width: 95%;
            margin: 2.75%;
        }
        @include tablet {
            width: 29%;
            margin: 1.5%;
        }
        @include desktop {
            width: 27.5%;
            margin: 0.9%;
        }
    }
}
.footer {
    background-color: $primary-color;
    color: white;
    padding-bottom: 2%;

    &__heading {
        @include mobile {
            padding: 5% 0;
        }
        @include tablet {
            display: flex;
            justify-content: space-between;
            padding: 4% 0;
        }
        @include desktop {
            display: flex;
            justify-content: space-between;
            padding: 3% 0; 
        }

        &-title {
            margin: 0;

            @include mobile {
                min-width: 100px;
                padding: 8% 2% 5% 4%;
            }
            @include tablet {
                min-width: 250px;
                padding: 1% 2% 0 3%;
                vertical-align: center;
            }
            @include desktop {
                min-width: 250px;
                padding: 1% 2% 0 10%;
                vertical-align: center;
            }
        }
        &-logo-container {
            padding: 0;

            @include mobile {
                width: 50%;
                padding-left: 4%;
            }
            @include tablet {
                display: inline-flex;
                width: 100%;
            }
            @include desktop {
                display: inline-flex;
                width: 100%;
            }
        }
        &-logo {
            
            @include mobile {
                padding: 4% 8% 4% 0;
                width: 20px;
            }
            @include tablet {
                display: inline-flex;
                padding: 0 8% 0 0;
                width: 25px;
            }
            @include desktop {
                display: inline-flex;
                padding: 0 8% 0 0;
                width: 25px;
            }
        }
        &-logo2 {

            @include mobile {
                width: 11px;
            }
            @include tablet {
                width: 15px;
            }
            @include desktop {
                width: 15px;
            }
        }
    }
    &__main-logo {
        @include mobile {
            display: none; 
        }
        
        @include tablet {
            display: inline-flex;
            height: 20px;
            padding: 2% 3%;
        }
        
        @include desktop {
            display: inline-flex;
            height: 20px;
            padding: 1.5% 10% 2% 2%;
        }
    }
    &__container {

        @include mobile {
            padding: 0 4%;
            width: 92%;
        }
        @include tablet {
            display: flex;
            justify-content: space-between;
            padding: 0 0 0 3%;
            width: 90%;
        }
        @include desktop {
            display: flex;
            padding: 0 10%;
            justify-content: space-between;
            width: 60%;
        }
    }
    &__content {

        @include mobile {
            margin: 7% 0;
            line-height: 17px;
        }
        @include tablet {
            padding-top: 10px;
            width: 100%;
            line-height: 20px;
            display: flex;
            font-size: $h4-desktab-fontsize;
            margin: 1%;
        }
        @include desktop {
            padding-top: 10px;
            width: 100%;
            line-height: 20px;
            display: flex;
            font-size: $h4-desktab-fontsize;
            margin: 1%; 
        }

        &1 {
            font-weight: 600;
            margin: 0;

            @include mobile {
                font-size: 0.72rem;
                letter-spacing: 1px;
            }
            @include tablet {
                line-height: 20px;
            }
            @include desktop {
                line-height: 20px;
            }
        }
    }
    &__copyright {

        @include mobile {
            margin: 3% 0 0 4%;
            width: 60%;
            line-height: 15px;
            padding-bottom: 9%;
        }
        @include tablet {
            padding: 1.5% 0 1% 3%;
            font-size: $h4-desktab-fontsize;
        }
        @include desktop {
            padding: 1.5% 0 0 10%;
            font-size: $h4-desktab-fontsize;
        }
    }
}
h1 {
    @include mobile {
        font-size: $h1-mobile-fontsize;
    }

    @include tablet {
        font-size: $h1-desktab-fontsize;
    }

    @include desktop {
        font-size: $h1-desktab-fontsize;
    }
}
h2 {
    @include mobile {
        font-size: $h2-mobile-fontsize;
    }

    @include tablet {
        font-size: $h2-desktab-fontsize;
    }

    @include desktop {
        font-size: $h2-desktab-fontsize;
    }
}
h3 {
    @include mobile {
        font-size: $h3-mobile-fontsize;
    }

    @include tablet {
        font-size: $h3-desktab-fontsize;
    }

    @include desktop {
        font-size: $h3-desktab-fontsize;
    }
}
h4 {
    @include mobile {
        font-size: $h4-mobile-fontsize;
    }

    @include tablet {
        font-size: $h4-desktab-fontsize;
    }

    @include desktop {
        font-size: $h4-desktab-fontsize;
    }
}